<div class="welcome">
  <img alt="Welcome image" class="left-image" src="./assets/images/welcome-left.png">
  <div class="center-box">
    <div>
      <img alt="Welcome image" class="logo-image" src="./assets/images/logo.png">
    </div>
    <span class="title">Microsoft To Do</span>
    <h4>To Do поможет вам сосредоточиться на любом занятии - от работы до игры</h4>
    <button (click)="goToNextPage()" class="btn" nz-button nzType="primary"
            nzSize="large">
      Начало работы
    </button>
  </div>
  <img alt="Welcome image" class="right-image" src="./assets/images/welcome-right.png">
</div>
