.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 44px;
  background: linear-gradient(#f3f3f3, #d1d2d7);

  .form {
    margin: 0 auto;
    width: 440px;
    max-width: 440px;
    padding: 44px;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    overflow: hidden;

    .title {
      width: 100%;
      font-weight: 600;
      font-size: 24px;
      margin-bottom: 20px;
    }

    .go-to-reg {
      margin-top: 20px;
      font-size: 13px;

      .link {
        margin-left: 6px;
      }
    }

    .buttons {
      margin-top: 20px;
      display: flex;
      justify-content: flex-end;

      .btn-to-back {
        width: 100px;
      }

      .btn-to-next {
        margin-left: 4px;
        width: 100px;
      }
    }
  }
}

.error {
  color: red;
  font-size: 12px;
}

.users {
  margin-top: 20px;
  width: 440px;
  max-width: 440px;
  padding: 12px;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.user {
  padding: 6px 10px;
  border: 1px solid #d7d2d2;
  cursor: pointer;

  &:hover {
    background-color: #d7d5d5;
  }
}
