@import '../../scss/_variables';

.sidebar {
  display: flex;
  flex-direction: column;
  width: 290px;
  height: calc(100vh - 48px);
  box-shadow: 0 1.2px 3.6px rgba(0, 0, 0, 0.1), 0 6.4px 14.4px rgba(0, 0, 0, 0.1);
  background-color: $main-white-color;
  box-sizing: border-box;
  overflow-y: auto;
  z-index: 1000;

  &::-webkit-scrollbar {
    width: 8px;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: #A19F9D;
    border-radius: 10px;
  }
}

.hide {
  transform: translateX(-100%);
  display: none;
}

.side-header {
  min-height: 48px;
  margin: 24px 0 0;
  padding: 0 24px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
