<div class="add-task-container" [style.color]="activeThemeColor.color">
  <div class="input-wrapper" (click)="toggleEditMode()">
    <div *ngIf="!isEditMode">Добавить задачу</div>
    <input *ngIf="isEditMode" class="input"
           placeholder="Добавить задачу"
           [(ngModel)]="tmpTitle"
           [appAutofocus]="isEditMode"
           (blur)="toggleEditMode(); $event.stopPropagation()"
           (keyup.enter)="addTaskHandler()"
    />
  </div>
  <div class="settings">
    <button [disabled]="!tmpTitle?.trim()" class="button" nz-button nzType="primary"
            (click)="addTaskHandler(); $event.stopPropagation()">
      Добавить
    </button>
  </div>
</div>
